---

## Задача 1:
Скачать файл в уроке "kc-house-data.csv". <br>
Считать данные с помощью pandas. <br>
Вывести на экран первые 5 строк. <br>
Посмотреть на описание признаков и на их содержание

In [69]:
import pandas as pd

# Считываем данные с помощью pandas
df = pd.read_csv('kc-house-data.csv')

# Выводим на экран первые 5 строк
print(df.head())

# Посмотрим на описание признаков и на их содержание
print(df.info())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.4+ MB
None

---

## Задача 2:
Проведите первичный анализ данных. <br>
Изучите типы данных. <br>
Найдите количество пропущенных ячеек в данных. <br>
Посчитайте основные статистики по всем признакам и поизучайте их. <br>
Написать выводы

In [71]:
# Изучаем типы данных
print(df.dtypes)

# Находим количество пропущенных ячеек в данных
print(df.isnull().sum())

# Считаем основные статистики по всем признакам и поизучаем их
df.describe()

# Пишем выводы

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object
id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

---

## Задача 3:
### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [73]:
print(df['price'].min())
print(df['price'].max())

75000.0
7700000.0

### 3.2 Какую долю в среднем занимает жилая площадь от всей площади по всем домам?

In [77]:
# Вычисление средней доли жилой площади от общей площади
mean_ratio = df['sqft_living'].mean() / df['sqft_lot'].mean()

# Вывод результата
print(mean_ratio.round(2))

0.14

### 3.3 Как много домов с разными этажами в данных?

In [79]:
multistorey = len(df[df['floors'] > 1])
print(multistorey)

10933

### 3.4 Насколько хорошие состояния у домов в данных?

In [81]:
# Подсчет количества строк с разными значениями в поле "floors"
count_by_condition = df['condition'].value_counts()

# Вывод результата
print(count_by_condition)

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [7]:
# Сортировка данных по полю "год постройки"
sorted_df = df.sort_values('yr_built')

# Получение первой и последней строки
first = df.head(1)
last = df.tail(1)

# Вывод результатов
print("Первый дом по году постройки:")
print(first['yr_built'])

print("Последний дом по году постройки:")
print(last['yr_built'])

Первый дом по году постройки:
0    1955
Name: yr_built, dtype: int64
Последний дом по году постройки:
21612    2008
Name: yr_built, dtype: int64

---

## Здача 4:
### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [86]:
df[df['bedrooms'] == 2]['price'].mean().round(2)

401372.68

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [87]:
df[df['price'] > 600000]['sqft_lot'].mean().round(2)

20442.52

### 4.3 Как много домов коснулся ремонт?

In [88]:
len(df[df['yr_renovated'] > 0])

914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [90]:
(df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean()).round(2)

1488885.12

---

## Задача 5:

### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом.  <br>
Сколько вариантов есть у клиента?

In [93]:
df[(df['view'] > 3) & (df['bathrooms'] > 2) & (df['sqft_basement'] > 0)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21,2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,4,...,9,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
246,2025069065,20140929T000000,2400000.0,4,2.50,3650,8354,1.0,1,4,...,9,1830,1820,2000,0,98074,47.6338,-122.072,3120,18841
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508
312,1860600135,20140502T000000,2384000.0,5,2.50,3650,9050,2.0,0,4,...,10,3370,280,1921,0,98119,47.6345,-122.367,2880,5400
582,2998800125,20140701T000000,730000.0,2,2.25,2130,4920,1.5,0,4,...,7,1530,600,1941,0,98116,47.5730,-122.409,2130,4920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20767,8043700105,20150417T000000,2300000.0,4,4.00,4360,8175,2.5,1,4,...,10,3940,420,2007,0,98008,47.5724,-122.104,2670,8525
20923,7852070210,20140527T000000,1149000.0,4,3.00,5940,11533,2.0,0,4,...,11,4950,990,2004,0,98065,47.5443,-121.870,4240,12813
21050,2424059170,20150219T000000,900000.0,5,6.00,7120,40806,2.0,0,4,...,12,5480,1640,2007,0,98006,47.5451,-122.114,3440,36859
21201,518500460,20141008T000000,2230000.0,3,3.50,3760,5634,2.0,1,4,...,11,2830,930,2014,0,98056,47.5285,-122.205,3560,5762
21576,9253900271,20150107T000000,3567000.0,5,4.50,4850,10584,2.0,1,4,...,10,3540,1310,2007,0,98008,47.5943,-122.110,3470,18270

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, <br>
в очень хорошем состоянии и год постройки не меньше 1980 года.  <br>
В какой ценовом диапазоне будут дома?

In [104]:
request = df[(df['view'] == 3) | (df['view'] == 4) & (df['condition'] == 5) & (df['yr_built'] >= 1980)]
print(request['price'].min())
print(request['price'].max())

154000.0
7700000.0

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000.  <br>
Какая оценка по состоянию у таких домов в среднем?

In [109]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]['grade'].mean()

7.0

---